{% load static %}

<header id="header" class="header" style="background: black">
  <div class="top-left">
    <div class="navbar-header" style="background: black">
      <a class="navbar-brand" style="color: white">BOEC - ECOMMERCE</a>

      <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
    </div>
  </div>
  <div class="top-right">
    <div class="header-menu">
      <div class="user-area dropdown float-right">
        <a
          href="#"
          class="dropdown-toggle active"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="user-avatar rounded-circle"
            src="{% static 'images/Admin.png' %}"
            alt="User Avatar"
          />
        </a>

        <div class="user-menu dropdown-menu" style="background: skyblue">
          <a class="nav-link" href="{% url 'logout_admin' %}"
            ><i class="fa fa-power -off"></i>Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
