{% extends 'base/base.html' %} {% block title %}Add User{% endblock title %}
{%block breadcrumbs %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
    <div class="row m-0">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Product</a></li>
              <li class="active">Add</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumbs %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong class="card-title">Add Product</strong>
      </div>
      <div class="card-body">
        <!-- Credit Card -->
        <div id="pay-invoice">
          <div class="card-body">
            <form
              action="/stock/product_save_to_sale/"
              method="POST"
              novalidate="novalidate"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="form-group">
                <label for="id" class="control-label mb-1">Mã sản phẩm</label>
                <input
                  class="form-control col-4"
                  value="{{product_export.id}}"
                  name="id"
                />
              </div>
              <div class="form-group">
                <label for="category" class="control-label mb-1"
                  >Category</label
                >
                <input
                  class="form-control col-4"
                  value="{{product_export.cc_title}}"
                  disabled
                />
              </div>
              <div class="form-group">
                <label for="title" class="control-label mb-1"
                  >Tên sản phẩm</label
                >
                <input
                  class="form-control col-4"
                  value="{{product_export.p_title}}"
                  name="title"
                />
              </div>
              <div class="form-group">
                <label for="unit" class="control-label mb-1"
                  >Đơn vị sản phẩn</label
                >
                <input
                  class="form-control col-4"
                  value="{{product_export.unit}}"
                  disabled
                />
              </div>

              <!-- end -->

              <div class="form-group">
                <label for="price_sale" class="control-label mb-1"
                  >Gía bán</label
                >
                {{ form.price_sale }}
              </div>
              <div class="form-group">
                <label for="amount_sale" class="control-label mb-1"
                  >Số lượng bán</label
                >
                {{ form.amount_sale }}
              </div>
              <div class="form-group">
                <label for="keywords" class="control-label mb-1"
                  >Key words</label
                >
                {{ form.keywords }}
              </div>
              <div class="form-group">
                <label for="variant" class="control-label mb-1">Variant</label>
                {{ form.variant }}
              </div>
              <div class="form-group">
                <label for="image_sale" class="control-label mb-1"
                  >Hình ảnh đai diện</label
                >
                {{ form.image_sale }}
              </div>
              <div class="form-group">
                <label for="idescription" class="control-label mb-1"
                  >Mô tả</label
                >
                {{ form.description }}
              </div>

              <div class="col-4" style="margin: 2rem auto">
                <button
                  id="payment-button"
                  type="submit"
                  class="btn btn-lg btn-success btn-block"
                >
                  <span id="payment-button-amount">Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- .card -->
  </div>
  <!--/.col-->
</div>
{% endblock content %}
