{% extends 'base/base.html' %} {% block title %}User List{% endblock title %}
{%block breadcrumbs %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
    <div class="row m-0">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Order</a></li>
              <li class="active">List</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock breadcrumbs %} {% block content %}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div
        class="card-body"
        style="display: flex; justify-content: space-between"
      >
        <h4 class="box-title">Order List</h4>
      </div>
      <div class="card-body--">
        <div class="table-stats order-table ov-h">
          <table class="table">
            <thead>
              <tr>
                <th class="serial">#</th>
                <th>Title</th>
                <th>price</th>
                <th>Quantity</th>
                <th>Customer</th>
                <th>Phone</th>

                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if user %} {% for order in order_items %}
              <tr>
                <td class="serial">{{ forloop.counter }}</td>
                <td>{{ order.item.title }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.user.name }}</td>
                <td>{{ order.user.address }}</td>

                <td>
                  <a href="/order/admin/orders_admin_detail/{{ order.id }}/{{order.order_id}}" class="btn btn-info" title="edit">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a
                    class="btn btn-success"
                    title="delete"
                    href="/order/admin/update_shipping/{{ order.order_id }}"
                  >
                    {{ order.order.status }}
                  </a>
                </td>
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td>No User Data</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <!-- /.table-stats -->
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-lg-8 -->
</div>
{% endblock content %}
